<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t-%L] %-5level %logger{36} - %msg%n</property>
        <property name="LOG_HOME">/var/log/tomcat</property>
        <property name="FILE_FOLDER">twohanded</property>
    </Properties>

    <Appenders>
        <!--这个输出控制台的配置 -->
        <!--        <Console name="Console" target="SYSTEM_OUT">-->
        <!--            &lt;!&ndash; 控制台只输出level及以上级别的信息(onMatch),其他的直接拒绝(onMismatch) &ndash;&gt;-->
        <!--            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />-->
        <!--            <PatternLayout pattern="${PATTERN}" />-->
        <!--        </Console>-->
        <RollingFile name="RollingFileInfo" fileName="${LOG_HOME}/${FILE_FOLDER}/info.log"
                     filePattern="${LOG_HOME}/${FILE_FOLDER}/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="ACCEPT"/>
            <PatternLayout pattern="[%d{HH:mm:ss}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <File name="ApplicationLog" fileName="/var/log/tomcat/twohanded.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <File name="sqlTrace" fileName="/var/log/tomcat/mappersTrace.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>


        <Console name="consolePrint" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <Loggers>
        <logger name="com.zdh.mappers" level="TRACE" additivity="false">
            <appender-ref ref="consolePrint"/>
            <appender-ref ref="sqlTrace"/>
        </logger>
        <!-- 配置日志的根节点 -->
        <root level="debug">
            <!--            <appender-ref ref="Console"/>-->
            <appender-ref ref="consolePrint"/>
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="ApplicationLog"/>
        </root>


    </Loggers>

</Configuration>
