<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdh.mappers.BuyerMapper">
  <resultMap id="BaseResultMap" type="com.zdh.bean.Buyer">
    <id column="BID" jdbcType="VARCHAR" property="BID" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="dormitory" jdbcType="VARCHAR" property="dormitory" />
  </resultMap>
  <sql id="Base_Column_List">
    BID, username, password, phone, dormitory
  </sql>

  <!--根据用户名查询-->
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
        *
    from buyer
    where username = #{username}
  </select>

  <!--根据用户ID查询-->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from buyer
    where BID = #{BID,jdbcType=VARCHAR}
  </select>
  <!--根据ID删除数据-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from buyer
    where BID = #{BID,jdbcType=VARCHAR}
  </delete>

<!--  插入新用户-->
  <insert id="insert" parameterType="com.zdh.bean.Buyer">
    insert into buyer (BID, username, password, 
      phone, dormitory)
    values (#{BID,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{dormitory,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.zdh.bean.Buyer">
    insert into buyer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="BID != null">
        BID,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="dormitory != null">
        dormitory,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="BID != null">
        #{BID,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="dormitory != null">
        #{dormitory,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zdh.bean.Buyer">
    update buyer
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="dormitory != null">
        dormitory = #{dormitory,jdbcType=VARCHAR},
      </if>
    </set>
    where BID = #{BID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zdh.bean.Buyer">
    update buyer
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      dormitory = #{dormitory,jdbcType=VARCHAR}
    where BID = #{BID,jdbcType=VARCHAR}
  </update>

</mapper>