<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdh.mappers.ManagerMapper">
    <resultMap id="BaseResultMap" type="com.zdh.bean.Manager">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>
    <sql id="Base_Column_List">
    id, username, password
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from manager
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from manager where username=#{username};
    </select>
    <select id="countMember" resultType="java.lang.Integer">
        select count(*) from member;
    </select>
    <select id="countItemWtsOnCarriiage" resultType="java.lang.Integer">
        select count(*) from item where conditions='出售' and is_undercarriage='0';
    </select>
    <select id="countItemWtbOnCarriiage" resultType="java.lang.Integer">
        select count(*) from item where conditions='求购' and is_undercarriage='0';
    </select>
    <select id="orderedToday" resultType="java.lang.Integer">
        select count(*) from `order`  where TO_DAYS(create_time)=TO_DAYS(NOW());
    </select>
    <select id="selectAllMember" resultType="com.zdh.bean.Member">
        select * from member;
    </select>
    <select id="selectAllSellItems" resultType="com.zdh.bean.Item">
        select * from item where conditions='出售';
    </select>
    <select id="selectAllBuyItems" resultType="com.zdh.bean.Item">
        select * from item where conditions='求购';
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from manager
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zdh.bean.Manager">
    insert into manager (id, username, password
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.zdh.bean.Manager">
        insert into manager
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zdh.bean.Manager">
        update manager
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zdh.bean.Manager">
    update manager
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="shutMember" parameterType="java.lang.String">
        update member set is_active = '0' where sid=#{sid};
    </update>
    <update id="activeMember" parameterType="java.lang.String">
        update member set is_active = '1' where sid=#{sid};
    </update>
    <update id="offItem" parameterType="java.lang.String">
        update item set is_undercarriage = '1' where serial_num=#{item_id};
    </update>
</mapper>